# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod==1.5.2
pinecone-client
llama_index==0.10.4
sentence_transformers
langchain
llama-index-embeddings-langchain
llama-index-vector-stores-pinecone
